// header
#sticker.top-header-area
   .container
       .row
           .col-lg-12.col-sm-12.text-center
               .main-menu-wrap
                   // logo
                   .site-logo
                       a(href='home')
                           img(src='img/logo_scouts_grimmertinge_WIT.png', alt='')
                   // logo

                   // menu start
                   nav.main-menu
                       ul
                           li.current-list-item
                               a(href='home') Home
                           li
                               a(href='takkenwerking') Werking
                               ul.sub-menu
                                   li
                                       a(href='takkenwerking') Takkenwerking
                                   li
                                       a(href='inschrijven') Inschrijven
                                   li
                                       a(href='uniform') Uniform
                                   li
                                       a(href='oudercomite') Oudercomité
                           li
                               a(href='programma_kapoenen') Programmaboekje
                               ul.sub-menu
                                   li
                                       a(href='programma_kapoenen') Kapoenen
                                   li
                                       a(href='programma_kabouters') Kabouters
                                   li
                                       a(href='programma_jonggidsen') Jonggidsen
                                   li
                                       a(href='programma_gidsen') Gidsen
                           li
                               a(href='verhuur') Verhuur
                           li
                               a(href='groepsleiding') Contact
                               ul.sub-menu
                                   li
                                       a(href='groepsleiding') Groepsleiding
                                   li
                                       a(href='kapoenenleiding') Kapoenenleiding
                                   li
                                       a(href='kabouterleiding') Kabouterleiding
                                   li
                                       a(href='jonggidsenleiding') Jonggidsenleiding
                                   li
                                       a(href='gidsenleiding') Gidsenleiding
                           li
                               .header-icons
                                   a.mobile-hide.search-bar-icon(href='#')
                                       i.fas.fa-arrow-up
                   .mobile-menu
                   // menu end

       // end header